In [1]:
from ingest import read_customers

In [2]:
customers_df = read_customers()
customers_df.head()

  customer_id customer_name  gender  age       city        state country
0     CUST001  Rahul Sharma    Male   28      Delhi        Delhi   India
1     CUST002    Neha Verma  Female   34     Mumbai  Maharashtra   India
2     CUST003    Aman Gupta    Male   41  Bengaluru    Karnataka   India

In [3]:
from quality_checks import check_nulls

In [4]:
check_nulls(customers_df)

Null values per column:
customer_id      0
customer_name    0
gender           0
age              0
city             0
state            0
country          0
dtype: int64

In [5]:
from quality_checks import check_duplicates
check_duplicates(customers_df, "customer_id")

Duplicate values in customer_id: 0

In [6]:
from transform import standardize_column_names

customers_clean = standardize_column_names(customers_df)
customers_clean.columns

Index(['customer_id', 'customer_name', 'gender', 'age', 'city', 'state',
       'country'],
      dtype='object')

In [7]:
from ingest import read_orders

In [8]:
orders_df = read_orders()
orders_df.head()

,order_id,order_date,customer_id,product_id,store_id,promo_id,quantity,sales_amount,cost_amount
0,ORD001,05-01-2024,CUST001,P001,S001,PR001,1,74999,62000
1,ORD002,06-01-2024,CUST002,P003,S002,PR002,2,18000,14000

In [9]:
from quality_checks import check_negative_values

In [10]:
check_negative_values(orders_df, "quantity")

Negative values in quantity: 0

In [11]:
from transform import standardize_column_names

orders_clean = standardize_column_names(orders_df)
orders_clean.columns

Index(['order_id', 'order_date', 'customer_id', 'product_id', 'store_id',
       'promo_id', 'quantity', 'sales_amount', 'cost_amount'],
      dtype='object')

In [12]:
from ingest import read_products
products_df = read_products()
products_df.head()

  product_id product_name    brand       sub_category     category
0       P001   Galaxy S23  Samsung             Mobile  Electronics
1       P002    iPhone 14    Apple             Mobile  Electronics
2       P003    Air Fryer  Philips  Kitchen Appliance         Home

In [13]:
from quality_checks import check_nulls, check_duplicates

check_nulls(products_df)
check_duplicates(products_df, "product_id")

Null values per column:
product_id      0
product_name    0
brand           0
sub_category    0
category        0
dtype: int64
Duplicate values in product_id: 0

In [14]:
from transform import standardize_column_names

products_clean = standardize_column_names(products_df)
products_clean.columns

Index(['product_id', 'product_name', 'brand', 'sub_category', 'category'], dtype='object')

In [15]:
from ingest import read_stores
stores_df = read_stores()
stores_df.head()

  store_id        store_name    city      state    region store_type
0     S001      Amazon India  Online        NaN  National     Online
1     S002  Reliance Digital  Jaipur  Rajasthan     North    Offline

In [16]:
from quality_checks import check_nulls, check_duplicates

check_nulls(stores_df)
check_duplicates(stores_df, "store_id")

Null values per column:
store_id      0
store_name    0
city          0
state         1
region        0
store_type    0
dtype: int64
Duplicate values in store_id: 0

In [17]:
from transform import standardize_column_names

stores_clean = standardize_column_names(stores_df)
stores_clean.columns

Index(['store_id', 'store_name', 'city', 'state', 'region', 'store_type'], dtype='object')

In [18]:
from ingest import read_promotions
promotions_df = read_promotions()
promotions_df.head()

  promo_id promotion_type  discount_pct  start_date    end_date
0    PR001  New Year Sale            20  01-01-2024  07-01-2024
1    PR002       No Promo             0         NaN         NaN

In [19]:
from quality_checks import check_nulls, check_duplicates

check_nulls(promotions_df)
check_duplicates(promotions_df, "promo_id")

Null values per column:
promo_id          0
promotion_type    0
discount_pct      0
start_date        1
end_date          1
dtype: int64
Duplicate values in promo_id: 0

In [20]:
from transform import standardize_column_names

promotions_clean = standardize_column_names(promotions_df)
promotions_clean.columns

Index(['promo_id', 'promotion_type', 'discount_pct', 'start_date', 'end_date'], dtype='object')

In [21]:
!python -m pip install mysql-connector-python --user

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\appdata\roaming\python\python313\site-packages (9.5.0)

In [22]:
from load import load_customers
load_customers(customers_clean)

In [23]:
from ingest import read_orders
from transform import standardize_column_names, convert_order_date
from load import load_orders

orders_df = read_orders()
orders_clean = standardize_column_names(orders_df)
orders_clean = convert_order_date(orders_clean)

load_orders(orders_clean)

In [24]:
from ingest import read_products
from transform import standardize_column_names
from load import load_products

products_df = read_products()
products_clean = standardize_column_names(products_df)

load_products(products_clean)

In [25]:
from ingest import read_stores
from transform import standardize_column_names
from load import load_stores

stores_df = read_stores()
stores_clean = standardize_column_names(stores_df)

load_stores(stores_clean)

In [26]:
from ingest import read_promotions
from transform import standardize_column_names, convert_promo_dates
from load import load_promotions

promotions_df = read_promotions()
promotions_clean = standardize_column_names(promotions_df)
promotions_clean = convert_promo_dates(promotions_clean)

load_promotions(promotions_clean)